@use '../../../styles/variables';

.product-catalog-header {
    width: 100%;
    background-color: var(--slate50);
    background-image: radial-gradient(circle, var(--slate200) 1px, transparent 1px);
    background-size: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.header-content {
    max-width: 1280px;
    width: 100%;
    padding: 0 24px;
    text-align: left;
}

.catalog-heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: var(--slate900);
    margin: 0 0 16px 0;
    letter-spacing: -1.2px;
}

.catalog-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--slate500);
    margin: 0;
    max-width: 800px;
}

