:root {
    --indigo400: #818CF8;
    --indigo600: #4F46E5;
    --indigo700: #413ACB;
    --indigo50: #EEF2FF; // light indigo background

    --slate50: #F8FAFC; // button hover background color
    --slate50Alt: #F8F8FC; // alternative light background
    --slate200: #E2E8F0; // button border color, back ground color
    --slate300: #CBD5E1; // button hover border color
    --slate400: #94A3B8; // secondary text color
    --slate500: #64748B; // text color
    --slate600: #475569; // button text color
    --slate900: #0F172A; // Header color
    --slate900Dark: #102A42; // dark navy background

    --white: #ffffff;
    --whiteAlt: #F7F6F8; // alternative light text color

}

