.navbar {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid var(--slate200);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    .inner-navbar {
        width: 1280px;
        height: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 200px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .menu {
            ul {
                list-style: none;
                display: flex;
                gap: 32px;
                padding: 0;
                margin: 0;
                
                li {
                    margin: 0;
                    padding: 0;
                    
                    a {
                        text-decoration: none;
                        color: var(--slate600);
                        font-size: 14px;
                        font-weight: 500;
                        display: block;
                        transition: color 0.1s ease;
                        cursor: pointer;
                        
                        &:hover,
                        &.active {
                            color: var(--indigo600);
                        }
                        
                        &:active {
                            color: var(--indigo600);
                        }
                    }
                }
            }
        }
        .contact-us {
            // opacity: 1;
            button {
                width: 116px;
                height: 40px;
                padding: 10px 20px;
            }
        }
    }
}
