@use '../../../styles/variables';

.company-gallery-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 318px;
    width: 100%;
}

.gallery-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 54px;
    height: 1215px;
    width: 1284px;
    padding: 10px;
    overflow: hidden;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
}

.section-heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: var(--slate900);
    letter-spacing: -0.75px;
    margin: 0;
    white-space: nowrap;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--slate500);
    margin: 0;
    max-width: 576px;
    height: 48px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(3, fit-content(100%));
    gap: 10px;
    width: 100%;
    overflow: hidden;
}

.gallery-item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    
    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
        border-radius: 20px;
    }
}

.item-1 {
    grid-area: 1 / 1 / auto / span 2;
    height: 363px;
}

.item-2 {
    grid-area: 1 / 3 / auto / span 3;
    height: 363px;
}

.item-3 {
    grid-area: 2 / 1;
    height: 363px;
}

.item-4 {
    grid-area: 2 / 2 / auto / span 2;
    height: 363px;
}

.item-5 {
    grid-area: 3 / 1 / auto / span 3;
    height: 290px;
}

.item-6 {
    grid-area: 2 / 4 / span 2 / span 2;
    height: 663px;
}

.item-7 {
    grid-area: 4 / 1 / auto / span 2;
    height: 290px;
}

.item-8 {
    grid-area: 4 / 3 / auto / span 2;
    height: 290px;
}

.item-9 {
    grid-area: 4 / 5;
    height: 290px;
}
